.floating-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #bd7015;
    color: white;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.floating-header h1 {
    margin: 0;
}

.floating-header nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.floating-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-left li {
    margin: 0 10px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right li {
    margin: 0 10px;
}

.floating-header ul li a {
    color: white;
    text-decoration: none;
}

.floating-header ul li a:hover {
    text-decoration: underline;
}

.account-panel {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #444;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

main {
    padding-top: 70px;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
	margin-top: 100px;
}

.grid-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.grid-item:hover {
    background-color: #e0e0e0;
    border-color: #888;
}

/* historypage */

.input-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    margin-top: 80px;
}

.input-grid-item {
    display: flex;
    flex-direction: column;
}

.saved-inputs-container {
    padding: 20px;
}

.saved-grid-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.saved-grid-item {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.saved-grid-item > div {
    margin-bottom: 5px;
}